.chip {
  display: inline-block;
  padding: 4px 12px;
  font-size: 0.75rem;
  color: var(--color-text);
  text-decoration: none;
  border: 2px solid var(--color-text);
  box-shadow: 3px 3px 0 var(--color-text);
  cursor: pointer;
  transition: all 0.1s;
}

.chip:hover {
  box-shadow: 1px 1px 0 var(--color-text);
  transform: translate(2px, 2px);
}
